/Requirement/backend
/Requirement/begin
/Requirement/frontend
/Requirement/scripts
Requirement1.code-workspace
/Requirement/front/node_modules
/Requirement/.env.development
/PartWorkBack/src/test
/PartWorkBack/uploads/avatar
/PartWorkBack/uploads/resume
/Requirement/guide.md